@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root {
    --red: #F51D1B;
    --dark-color: #911210;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}


/* html */

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}


/* html y webkit */

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}


/*cabecera 1*/

.cabecera .cabecera-1 {
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*logo*/

.cabecera .cabecera-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}


/*i*/

.cabecera .cabecera-1 .logo i {
    color: var(--red);
}


/*busqueda*/

.cabecera .cabecera-1 .busqueda {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}


/* input */

.cabecera .cabecera-1 .busqueda input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}


/* label */

.cabecera .cabecera-1 .busqueda label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}


/* hover de label */

.cabecera .cabecera-1 .busqueda label:hover {
    color: var(--red);
}


/* icono */

.cabecera .cabecera-1 .icono div,
.cabecera .cabecera-1 .icono a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}


/* icono  hover*/

.cabecera .cabecera-1 .icono div:hover,
.cabecera .cabecera-1 .icono a:hover {
    color: var(--red);
}


/* btn */

#busqueda-btn {
    display: none;
}


/* final cabezera 1 */


/* cabeceera 2 */

.cabecera .cabecera-2 {
    background: var(--red);
}


/*navegador*/

.cabecera .cabecera-2 .navegador {
    text-align: center;
}


/* a */

.cabecera .cabecera-2 .navegador a {
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}


/* hover de a */

.cabecera .cabecera-2 .navegador a:hover {
    background: var(--dark-color);
}


/* active */

.cabecera .cabecera-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


/* final cabecera 2 */


/* body */

body {
    height: 300rem;
}


/* botones navegador */

.Bnavegador {
    text-align: center;
    background: var(--red);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}


/* a */

.Bnavegador a {
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}


/* hover para a */

.Bnavegador a:hover {
    background: var(--dark-color);
}


/* final de boton */


/* login comienzo*/

.loginF-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.loginF-container.active {
    right: 0;
}


/* form */

.loginF-container form {
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}


/* h3 */

.loginF-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}


/* span */

.loginF-container form span {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}


/* caja */

.loginF-container form .caja {
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.loginF-container form .checkcaja {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.loginF-container form .checkcaja label {
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}


/* btn login */

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--red);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover {
    background: var(--dark-color);
}

.loginF-container form .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}


/* p */

.loginF-container form p {
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}


/* a */

.loginF-container form p a {
    color: var(--red);
    text-decoration: underline;
}


/* cerrar login */

.loginF-container #clogin-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}


/* login final */


/* section home */

section {
    padding: 5rem 9%;
}


/* home */

.home {
    background: url(../image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}


/* row */

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}


/* contenido */

.home .row .contenido {
    flex: 1 1 42rem;
}


/* slider */

.home .row .libro-slider {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}


/* img */

.home .row .libro-slider a img {
    height: 25rem;
}


/* hover */

.home .row .libro-slider a:hover img {
    transform: scale(.9);
}


/* stand */

.home .row .libro-slider .stand {
    width: 100%;
    margin-top: -2rem;
}


/* h3 */

.home .row .contenido h3 {
    color: var(--black);
    font-size: 4.5rem;
}


/* p */

.home .row .contenido p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}


/* section home final */


/* icono inicio */

.icono-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}


/* icono */

.icono-container .icono {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}


/* i */

.icono-container .icono i {
    font-size: 3.5rem;
    color: var(--red);
}


/* h3 */

.icono-container .icono h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}


/* p */

.icono-container .icono p {
    font-size: 1.4rem;
    color: var(--light-color);
}


/* icono final */


/* destacados inicio */

.titulo {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}


/* before */

.titulo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, .1);
    z-index: -1;
}


/* span */

.titulo span {
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}


/* caja */

.destacados .destacados-slider .caja {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}


/* hover de caja */

.destacados .destacados-slider .caja:hover {
    border: var(--border-hover);
}


/* image */

.destacados .destacados-slider .caja .image {
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}


/* hover de caja de image */

.destacados .destacados-slider .caja:hover .image {
    transform: translateY(6rem);
}


/* img */

.destacados .destacados-slider .caja .image img {
    height: 25rem;
}


/* icono */

.destacados .destacados-slider .caja .icono {
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}


/* hover caja  y icono*/

.destacados .destacados-slider .caja:hover .icono {
    transform: translateY(0%);
}


/* a */

.destacados .destacados-slider .caja .icono a {
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
}


/* hover de a */

.destacados .destacados-slider .caja .icono a:hover {
    background: var(--red);
    color: #fff;
}


/* contenido */

.destacados .destacados-slider .caja .contenido {
    background: #eee;
    padding: 1.5rem;
}


/* h3 */

.destacados .destacados-slider .caja .contenido h3 {
    font-size: 2rem;
    color: var(--black);
}


/* precio */

.destacados .destacados-slider .caja .contenido .precio {
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}


/* span */

.destacados .destacados-slider .caja .contenido .precio span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}


/* swiper botones de lados */

.swiper-button-next,
.swiper-button-prev {
    border: var(--border-hover);
    height: 4rem;
    width: 4rem;
    color: var(--black);
    background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--black);
    color: #fff;
}


/* destacados final */


/*  boletin inicio */


/* boletin */

.boletin {
    background: url(../image/letter-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* form */

.boletin form {
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 0;
}


/* h3 */

.boletin form h3 {
    font-size: 2.2rem;
    color: #fff;
    padding-bottom: .7rem;
    font-weight: normal;
}


/* caja */

.boletin form .caja {
    width: 100%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: .5rem;
    text-transform: none;
}


/*  boletin final  */


/* recien llegada inico */


/* caja */

.llegada .llegada-slider .caja {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
}


/* hover */

.llegada .llegada-slider .caja:hover {
    border: var(--border-hover);
}


/* img */

.llegada .llegada-slider .caja .image img {
    height: 15rem;
}


/* h3 */

.llegada .llegada-slider .caja .contenido h3 {
    font-size: 2rem;
    color: var(--black);
}


/* precio */

.llegada .llegada-slider .caja .contenido .precio {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}


/* span */

.llegada .llegada-slider .caja .contenido .precio span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}


/* i */

.llegada .llegada-slider .caja .contenido .estrella i {
    font-size: 1.5rem;
    color: var(--red);
}


/* recien llegado final */


/* acuerdo inicio */


/* acuerdo */

.acuerdo {
    background: #f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}


/* contenido */

.acuerdo .contenido {
    flex: 1 1 42rem;
}


/* image */

.acuerdo .image {
    flex: 1 1 42rem;
}


/* img */

.acuerdo .image img {
    width: 100%;
}


/* h3 */

.acuerdo .contenido h3 {
    color: var(--red);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}


/* h1 */

.acuerdo .contenido h1 {
    color: var(--black);
    font-size: 4rem;
}


/*p*/

.acuerdo .contenido p {
    padding: 1rem 0;
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}


/* acuerdo final */


/* reseña inicio */


/* caja */

.reseñas .resena-slider .caja {
    border: var(--border);
    padding: 2rem;
    text-align: center;
    margin: 2rem 0;
}


/* hover */

.reseñas .resena-slider .caja:hover {
    border: var(--border-hover);
}


/* img */

.reseñas .resena-slider .caja img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}


/* h3 */

.reseñas .resena-slider .caja h3 {
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
}


/* p */

.reseñas .resena-slider .caja p {
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}


/* i */

.resena .resena-slider .caja .estrella i {
    font-size: 1.7rem;
    color: var(--red);
}


/* reseña final */


/* blogs inicio */

.blogs .blogs-slider .caja {
    margin: 2rem 0;
    border: var(--border);
}

.blogs .blogs-slider .caja:hover {
    border: var(--border-hover);
}

.blogs .blogs-slider .caja .image {
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.blogs .blogs-slider .caja .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .blogs-slider .caja:hover .image img {
    transform: scale(1.1);
}

.blogs .blogs-slider .caja .contenido {
    padding: 2rem;
}

.blogs .blogs-slider .caja .contenido h3 {
    font-size: 2.2rem;
    color: var(--black);
}

.blogs .blogs-slider .caja .contenido p {
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
}


/* blogs final */


/* footer inicio */

.footer .caja-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .caja-container .caja h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .caja-container .caja a {
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .caja-container .caja a i {
    color: var(--red);
    padding-right: .5rem;
}

.footer .caja-container .caja a:hover i {
    padding-right: 2rem;
}

.footer .caja-container .caja .mapa {
    width: 100%;
}

.footer .compartir {
    padding: 1rem 0;
    text-align: center;
}

.footer .compartir a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background: var(--red);
    margin: 0 .3rem;
    border-radius: 50%;
}

.footer .compartir a:hover {
    background: var(--black);
}

.footer .credito {
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}

.footer .credito span {
    color: var(--red);
}


/* footer final */


/* looader */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active {
    display: none;
}

.loader-container img {
    height: 10rem;
}


/* media queries que es resposive*/

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .cabecera .cabecera-1 {
        padding: 2rem;
    }
    section {
        padding: 3rem 2rem;
    }
}

@media (max-width:768px) {
    html {
        scroll-padding-top: 0;
    }
    body {
        padding-bottom: 6rem;
    }
    .cabecera .cabecera-2 {
        display: none;
    }
    .Bnavegador {
        display: block;
    }
    #busqueda-btn {
        display: inline-block;
    }
    .cabecera .cabecera-1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }
    .cabecera .cabecera-1 .busqueda {
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }
    .cabecera .cabecera-1 .busqueda.active {
        top: 115%;
    }
    .home .row .contenido {
        text-align: center;
    }
    .home .row .contenido h3 {
        font-size: 3.5rem;
    }
    .boletin {
        background-position: right;
    }
    .boletin form {
        margin-left: 0;
        max-width: 100%;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}